[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
werkzeug = "*"
keras = "*"
numpy = "*"
pandas = "*"
joblib = "*"
djangorestframework = "*" 
pyyaml = "*"
requests = "*"
django-cors-headers = "*"
tensorflow = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
