{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
{% endblock %}
<header class="header bg-blue" style="background-image: url('{% static 'Images/b5366e76dd1d77389dc35e5dc3a6e238.jpg' %}");'>
    <div class = "header-inner text-white text-center">
        <div class = "container grid">
            <div class = "header-inner-left">
                <h1><span>Caring for Better life</span> <br> Leading the way<br> <span>in medical excellence</span></h1>
                <p class = "lead">Earth greater grass for good. <br>place for divide evening yielding them that. <br> Creeping beginnig over gathered brought. </p>
                <!-- <p class = "text text-md"> </p> -->
                <div class = "btn-group">
                    <a href = "#" class = "btn btn-white">Learn More</a>
                </div>
            </div>
            <div class = "header-inner-right">
                <img src = "{% static '/Images/1668030825443.png' %}">
            </div>
        </div>
    </div>
</header>