{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
    <p>thrhyrhthut</p><br>
</div>
{% endblock %}