{% load static %}
<nav class="navbar">
    
    <div class="flex nav_container">
        <div class="navbar-cllapse bg-white">
            <ul class="navbar-nav">
                <li class="nav-items"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-items"><a href="/hospital" class="nav-link">Hospital</a></li>
                <li class="nav-items"><a href="/hospital/braintumor" class="nav-link">Services</a></li>
                <li class="nav-items"><a href="/hospital/breastcancer" class="nav-link">Doctors</a></li>
                <li class="nav-items"><a href="#" class="nav-link">Departments</a></li>
                <li class="nav-items"><a href="#" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>